
@import "./../base";


.delete-fiexd-1{
    width: 23%;
    @media (max-width: 1668px) {
        width: 22%;
    }
    @media (max-width: 1400px) {
        width: 21%;
    }
    @media (max-width: 1246px) {
        width: 20%;
    }
    @media (max-width: 1198px) {
        width: 15%;
    }
    @media (max-width: 990px) {
        width: 23%;
    }
}
.delete-fiexd-2{
    width: 11%;
    height: 190px !important;
    @media (max-width: 1668px) {
        width: 10%;
        height: 170px !important;

    }
    @media (max-width: 1527px) {
    height: 150px !important;

        width: 10%;
    }
    @media (max-width: 1400px) {
    height: 120px !important;
        width: 9%;
    }
    @media (max-width: 1246px) {
    height: 110px !important;

        width: 10%;
    }
    @media (max-width: 1198px) {
        height: 180px !important;

        width: 18%;
    }
    @media (max-width: 1093px) {
        height: 170px !important;

        width: 18%;
    }
    @media (max-width: 990px) {
        width: 28%;
    }
    @media (max-width: 716px) {
        height: 160px !important;

        width: 28%;
    }
    @media (max-width: 648px) {
        height: 150px !important;

        width: 28%;
    }
    @media (max-width: 536px) {
        height: 140px !important;

        width: 28%;
    }
    @media (max-width: 500px) {
        height: 130px !important;

        width: 26%;
    }
    @media (max-width: 468px) {
        height: 110px !important;

        width: 26%;
    }
    @media (max-width: 412px) {
        height: 90px !important;

        width: 26%;
    }
}

.delete-fiexd-3{
    width: 11%;
    height: 190px !important;
    @media (max-width: 1668px) {
        width: 10%;
        height: 170px !important;

    }
    @media (max-width: 1527px) {
    height: 150px !important;

        width: 10%;
    }
    @media (max-width: 1400px) {
    height: 120px !important;
        width: 9%;
    }
    @media (max-width: 1246px) {
    height: 110px !important;

        width: 10%;
    }
    @media (max-width: 1198px) {
        height: 180px !important;

        width: 18%;
    }
    @media (max-width: 1093px) {
        height: 170px !important;

        width: 18%;
    }
    @media (max-width: 990px) {
        width: 28%;
    }
    @media (max-width: 716px) {
        height: 160px !important;

        width: 28%;
    }
    @media (max-width: 648px) {
        height: 150px !important;

        width: 28%;
    }
    @media (max-width: 536px) {
        height: 140px !important;

        width: 28%;
    }
    @media (max-width: 500px) {
        height: 130px !important;

        width: 26%;
    }
    @media (max-width: 468px) {
        height: 110px !important;

        width: 26%;
    }
    @media (max-width: 412px) {
        height: 90px !important;

        width: 26%;
    }
}
.delete-img-2{
    width: 20px !important;
    @media (max-width: 500px) {
        width: 15px !important;
    }
}
.delete-img-3{
    width: 20px !important;
    @media (max-width: 500px) {
        width: 15px !important;
    }
}

.delete-img-2{
    left: 5%;
    top: 10px !important;
    @media (max-width: 1800px) {
        top: 0px;
    }
    @media (max-width: 1668px) {
        top: 10px;
    }
    @media (max-width: 1527px) {
        top: 50px;
    }
    @media (max-width: 13400px) {
        top: 30px;
    }
    @media (max-width: 1276px) {
        top: 24px;
    }
    @media (max-width: 1198px) {
        top: 33px;
        left: 5%;
    }
    @media (max-width: 1072px) {
        top: 31px;
    }
    @media (max-width: 990px) {
        top: 40px;
        left: 7%;
    }
}
.delete-img-3{
    left: 5%;
    top: 10px !important;
    @media (max-width: 1800px) {
        top: 0px;
    }
    @media (max-width: 1668px) {
        top: 10px;
    }
    @media (max-width: 1527px) {
        top: 50px;
    }
    @media (max-width: 13400px) {
        top: 30px;
    }
    @media (max-width: 1276px) {
        top: 24px;
    }
    @media (max-width: 1198px) {
        top: 33px;
        left: 5%;
    }
    @media (max-width: 1072px) {
        top: 31px;
    }
    @media (max-width: 990px) {
        top: 40px;
        left: 7%;
    }
}
.btn-submit-1{
    font-size: 18px;
    background-color: $admin_blue;
    border-radius: 1px !important;
    width: 150px;
    margin-right: 0px !important;
}
.not-submit{
    font-size: 18px;
     background-color: transparent;
     border-radius: 1px !important;
     border: 2px solid $admin_blue;
     color: $admin_blue;
    width: 150px;
}
.form-control{
    height: 40px !important;
    width: 90%;
    border-radius: 1px !important;
    border: 1px solid #aaaaaa !important;

}
.popup-b{
    background-color: $yellow-text ;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 1px;    
}
.h-set{
    padding-left: 4rem;
    padding-right:4rem;
    background-color: $good_blue;
}

.takhfif{
    width: 50px;
    height: 50px;
    top: 1rem;
    right: 1rem;
    background-color: $admin_blue !important;
}


.mar-f{
    
    @media (min-width: 1720px) {
        margin-top: 4px;
    }
    @media (max-width: 1713px) {
        margin-top: 5.88px;
    }
    @media (max-width: 1706px) {
        margin-top: 7.76px;
    }
    @media (max-width: 1699px) {
        margin-top: 9.64px;
    }
    @media (max-width: 1692px) {
        margin-top: 11.52px;
    }
    @media (max-width: 1685px) {
        margin-top: 13.399999999999999px;
    }
    @media (max-width: 1678px) {
        margin-top: 15.279999999999998px;
    }
    @media (max-width: 1671px) {
        margin-top: 17.159999999999997px;
    }
    @media (max-width: 1664px) {
        margin-top: 19.039999999999996px;
    }
    @media (max-width: 1657px) {
        margin-top: 20.919999999999995px;
    }
    @media (max-width: 1650px) {
        margin-top: 22.799999999999994px;
    }
    @media (max-width: 1643px) {
        margin-top: 24.679999999999993px;
    }
    @media (max-width: 1636px) {
        margin-top: 26.55999999999999px;
    }
    @media (max-width: 1629px) {
        margin-top: 28.43999999999999px;
    }
    @media (max-width: 1622px) {
        margin-top: 30.31999999999999px;
    }
    @media (max-width: 1615px) {
        margin-top: 32.19999999999999px;
    }
    @media (max-width: 1608px) {
        margin-top: 34.07999999999999px;
    }
    @media (max-width: 1601px) {
        margin-top: 35.959999999999994px;
    }
    @media (max-width: 1594px) {
        margin-top: 37.839999999999996px;
    }
    @media (max-width: 1587px) {
        margin-top: 39.72px;
    }
    @media (max-width: 1580px) {
        margin-top: 41.6px;
    }
    @media (max-width: 1573px) {
        margin-top: 43.480000000000004px;
    }
    @media (max-width: 1566px) {
        margin-top: 45.36000000000001px;
    }
    @media (max-width: 1559px) {
        margin-top: 47.24000000000001px;
    }
    @media (max-width: 1552px) {
        margin-top: 49.12000000000001px;
    }
    @media (max-width: 1545px) {
        margin-top: 51.000000000000014px;
    }
    @media (max-width: 1538px) {
        margin-top: 52.88000000000002px;
    }
    @media (max-width: 1531px) {
        margin-top: 54.76000000000002px;
    }
    @media (max-width: 1524px) {
        margin-top: 56.64000000000002px;
    }
    @media (max-width: 1517px) {
        margin-top: 58.520000000000024px;
    }
    @media (max-width: 1510px) {
        margin-top: 60.40000000000003px;
    }
    @media (max-width: 1503px) {
        margin-top: 62.28000000000003px;
    }
    @media (max-width: 1496px) {
        margin-top: 64.16000000000003px;
    }
    @media (max-width: 1489px) {
        margin-top: 66.04000000000002px;
    }
    @media (max-width: 1482px) {
        margin-top: 67.92000000000002px;
    }
    @media (max-width: 1475px) {
        margin-top: 69.80000000000001px;
    }
    @media (max-width: 1468px) {
        margin-top: 71.68px;
    }
    @media (max-width: 1461px) {
        margin-top: 73.56px;
    }
    @media (max-width: 1454px) {
        margin-top: 75.44px;
    }
    @media (max-width: 1447px) {
        margin-top: 77.32px;
    }
    @media (max-width: 1440px) {
        margin-top: 79.19999999999999px;
    }
    @media (max-width: 1433px) {
        margin-top: 81.07999999999998px;
    }
    @media (max-width: 1426px) {
        margin-top: 82.95999999999998px;
    }
    @media (max-width: 1419px) {
        margin-top: 84.83999999999997px;
    }
    @media (max-width: 1412px) {
        margin-top: 86.71999999999997px;
    }
    @media (max-width: 1405px) {
        margin-top: 88.59999999999997px;
    }
    @media (max-width: 1398px) {
        margin-top: 90.47999999999996px;
    }
    @media (max-width: 1391px) {
        margin-top: 92.35999999999996px;
    }
    @media (max-width: 1384px) {
        margin-top: 94.23999999999995px;
    }
    @media (max-width: 1377px) {
        margin-top: 96.11999999999995px;
    }
    @media (max-width: 1370px) {
        margin-top: 97.99999999999994px;
    }
    @media (max-width: 1363px) {
        margin-top: 99.87999999999994px;
    }
    @media (max-width: 1356px) {
        margin-top: 101.75999999999993px;
    }
    @media (max-width: 1349px) {
        margin-top: 3.63999999999993px;
    }
    @media (max-width: 1342px) {
        margin-top: 5.51999999999993px;
    }
    @media (max-width: 1335px) {
        margin-top: 7.39999999999993px;
    }
    @media (max-width: 1328px) {
        margin-top: 9.27999999999993px;
    }
    @media (max-width: 1321px) {
        margin-top: 11.159999999999929px;
    }
    @media (max-width: 1314px) {
        margin-top: 13.039999999999928px;
    }
    @media (max-width: 1307px) {
        margin-top: 14.919999999999927px;
    }
    @media (max-width: 1300px) {
        margin-top: 16.799999999999926px;
    }
    @media (max-width: 1293px) {
        margin-top: 18.679999999999925px;
    }
    @media (max-width: 1286px) {
        margin-top: 20.559999999999924px;
    }
    @media (max-width: 1279px) {
        margin-top: 22.439999999999923px;
    }
    @media (max-width: 1272px) {
        margin-top: 24.319999999999922px;
    }
    @media (max-width: 1265px) {
        margin-top: 26.19999999999992px;
    }
    @media (max-width: 1258px) {
        margin-top: 28.07999999999992px;
    }
    @media (max-width: 1251px) {
        margin-top: 29.95999999999992px;
    }
    @media (max-width: 1244px) {
        margin-top: 31.839999999999918px;
    }
    @media (max-width: 1237px) {
        margin-top: 33.71999999999992px;
    }
    @media (max-width: 1230px) {
        margin-top: 35.59999999999992px;
    }
    @media (max-width: 1223px) {
        margin-top: 37.479999999999926px;
    }
    @media (max-width: 1216px) {
        margin-top: 39.35999999999993px;
    }
    @media (max-width: 1209px) {
        margin-top: 41.23999999999993px;
    }
    @media (max-width: 1202px) {
        margin-top: 43.11999999999993px;
    }
    @media (max-width: 1195px) {
        margin-top: 44.999999999999936px;
    }
}